*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
}

.brano-musicale{
    margin: 2rem 0;
    cursor: pointer;
}

.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

ul{
    list-style: none;
}

h3{
    color: green;
}

strong , p{
    color: red;
}

button , input{
    padding: .4rem .8rem;
}

#app{
    padding-top: 1.5rem;
}

.mb-1{
    margin-bottom: .6rem;
}
