<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.41/vue.global.min.js"></script>
</head>
<body>

    <!-- WRAPPER -->
    <div class="wrapper">
    
        <!-- APP -->
        <div id="app">

            <!-- AGGIUNGI NUOVO BRANO -->
            <div class="form">

                <h2 class="mb-1">
                    Aggiungi nuovo brano
                </h2>

                <ul>

                    <!-- nome -->
                    <li>
                        <input type="text" placeholder="inserisci nome del brano"
                            v-model.trim="nuovoBrano.nome">
                    </li>

                    <!-- cantante -->
                    <li>
                        <input type="text" placeholder="inserisci cantante del brano"
                            v-model.trim="nuovoBrano.cantante">
                    </li>

                    <!-- genere -->
                    <li>
                        <input type="text" placeholder="inserisci genere del brano"
                            v-model.trim="nuovoBrano.genere">
                    </li>

                    <!-- durata -->
                    <li>
                        <input type="text" placeholder="inserisci durata del brano"
                            v-model.trim="nuovoBrano.durata">
                    </li>

                    <!-- caratteri minimi -->
                    <p v-if="flagCaratteriMinimi">
                        devi inserire almeno 5 caratteri
                    </p>

                    <!-- submit button -->
                    <li>
                        <button @click="aggiungiBrano">Aggiungi brano</button>
                    </li>

                </ul>
                

            </div>
            <!-- / AGGIUNGI NUOVO BRANO -->

            <!-- SINGOLO BRANO -->
            <div class="brano-musicale"
                @click="playStop(index)"
                v-for="(brano, index) in braniMusicali" >

                <!-- icona play -->
                <h2 v-if="brano.player" >
                    PLAY - SONG
                </h2>
                <!-- / icona play -->

                <!-- caratteristiche brano -->
                <ul v-else>

                    <h3>canzone {{index + 1}} </h3>

                    <li> <strong>nome:</strong> {{brano.nome}} </li>

                    <li> <strong>cantante:</strong> {{brano.cantante}} </li>

                    <li> <strong>genere:</strong> {{brano.genere}} </li>

                    <li> <strong>durata:</strong> {{brano.durata}} </li>
                    
                </ul>
                <!-- / caratteristiche brano -->

            </div>
            <!-- / SINGOLO BRANO -->

        </div>
        <!-- / APP -->

    </div>
    <!-- / WRAPPER -->

    <script src="js/script.js"></script>
</body>
</html>